* {
    box-sizing: border-box;
}

.input-text-container {
    height: 60px;
    max-width: 900px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(29, 29, 29);
    border-radius: 30px;
    padding: 0 15px; 
}

.input-text {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(220, 219, 219);
    padding: 0 20px; 
    font-size: 18px;
    height: 100%;
}

.input-text::placeholder {
    font-size: 15px;
    font-weight: bold;
    color: rgb(130, 130, 130);
}

.input-text-container button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    padding: 0;
}

.input-text-container button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: 0;
}

.left-side-icon {
    display: flex;
    align-items: center;
}

.right-side-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}


.left-side-icon button {
    background-color: rgb(255, 255, 255);
}